Source: lmd-cmdline
Maintainer: lmd Linux <lmd.linux@gmail.com>
Section: misc
Priority: important
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13)

Package: lmd-cmdline
Architecture: all
Depends: bash-completion, git, man, tmux, vim-addon-manager, vim-nox
Recommends: powerline, powerline-gitstatus
Maintainer: lmd Linux <lmd.linux@gmail.com>
Description: command-line tools
 A collection of useful command-line tools and their default configuration
